

html{
    scroll-behavior: smooth;
    transition: .3s all ease;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}

body{
    font-family: 'Montserrat', sans-serif;
}

img{
    width: 100%;

}

section{
    padding: 100px 0;
    background: #000000;
}

.section_title{
    margin-bottom: 30px;
}

.section_title h2{
    position: relative;
    text-align: center;
    color: #e72323;
    font-size: 30px;
    transition: all .5s ease-in-out;
}
.section_title h2:hover{
    background-color: #e73636;
    color: white;
}

/* heade alanı */
header{
    background-color: #e73636;
    border-bottom: 1px solid rgba(238, 238, 238, 0.801);
    position: fixed;
    width: 100%;
    z-index: 5;
}

#menu_bar{
    display: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    padding: 10px 0;
}

.nav_links{
    display: flex;
}

.nav_links li a{
    margin-left: 15px;
    color: rgb(229, 237, 243);
    padding: 5px 5px;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.nav_links li a:hover{
    background-color: #11140d;
}

.logo h2 a{
    text-transform: uppercase;
    color: rgb(218, 227, 235);
}

/* anasayfa */

.inner_anasayfa{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    color: #e73636;

}

.child_anasayfa{
    flex-basis: 45;
}

.child_anasayfa h1{
    font-size: 50px;
    color: #e73636;

}

.span_child{
    color: white;
}

.child_anasayfa p{
    font-size: 25px;
    margin-bottom: 15px;
    color: #e73636;
}

.btn{
    background: #e72323;
    color: aliceblue;
    font-weight: 900;
    padding: 12px 35px;
    border-radius: 15px;
    border: 1px solid #24CAAC;
    cursor: pointer;
    transition: all .3s ease;
}

.btn:hover{
    background: transparent;
    transition: all .3s ease;
    letter-spacing: 3px;
}

/* YAZILIMLAR */
.inner_software{
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
   

}

.inner_software_child{
    flex-basis: 30%;
    color: white;
    padding: 25px 20px;
    background: rgba(55, 66, 80, 0.281);
    border-radius: 5px;
    border: 1px solid transparent;
    transition: all .4s ease-in-out;
}

.inner_software_child:hover{
    border: 1px solid #e73636;
}

.inner_software_child .icon{
    font-size: 25px;
    color: #e73636;
    

}

.inner_software_child h3{
    font-size: 20px;
    margin: 10px 0;
}

.inner_software_child p{
    font-size: 16px;
    color: #e72323;
}



/* SERTİFİKALARIM */

.inner_courses{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    
}

.child_courses{
    flex-basis: 24%;
    color: white;
    padding: 20px 10px;
    border: 1px solid transparent;
    transition: .3s;
    border-radius: 5px;
}

.child_courses:hover{
    border: 1px solid #e73636;
}

.child_courses .detail{
    display: flex;
    justify-content: space-between;

}

.child_courses .detail ul{
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
}

.child_courses .detail ul li{
    color: goldenrod;
}

/* BAŞARILAR */

.inner_achivement{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.child_achivement{
    flex-basis: 40%;
}

.child_achivement img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.child_achivement2{
    flex-basis: 46%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
}

.single_detail{
    flex-basis: 48%;
    padding: 40px 30px;
    color: white;
    border-radius: 7px;
    transition: .3s;


}

.single_detail:hover{
    transform: scale(1.03);
}

.sd_1{
    background: #e73636;
    margin-bottom: 20px;
}
.sd_2{
    background: white;
    margin-bottom: 20px;
    color: #e73636;
}
.sd_3{
    background: white;
    margin-bottom: 20px;
    color: #e73636;
}
.sd_4{
    background: #e73636;
    margin-bottom: 20px;
}

/* HAKKIMDA */
.inner_test{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    color: white;
}

.child_test{
    flex-basis: 46%;
    margin: 30px;
}
.test_img{
    width: 80px;
    margin-bottom: 10px;
    
}

.test_img img{
    border-radius: 50%;
}

.test_highlight{
    color: #e73636;
    margin: 10px 0;
    display: inline-block;
}

.test_highlight:hover{
    text-decoration: underline;
    transition: .3s;
}

/* İLETİSİM */

.inner_contact{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
}

.child_contact{
    flex-basis: 45%;
}

.child_contact form{
    padding: 50px 40px;
    background: #e73636;
    border-radius: 5px;
}

.child_contact form input,textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background: #24292d;
    border: none;
    resize: none;
    border-radius: 25px;
    transition: .3s ease-in;
}

.child_contact form input,textarea:focus{
    color: white; 
    
}

.child_contact form input:focus{
    letter-spacing: 1px;
}

.child_contact form textarea:focus{
    letter-spacing: 1px;
}

.child_contact form input:last-child{
    margin-bottom: 0;
    background: white;
    border: 1px solid #01120f;
    transition: .3s;
    color: black;
}

.child_contact form input:last-child:hover{
    background:  black ;
    color: white;
}

/* footer */
footer{
    background: #000000;
    padding: 60px 0 20px 0;
    color: white;
}

.inner_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    width: 80%;
}
.child_footer{
    flex-basis: 24%;

}
.child_footer h3{
    margin-bottom: 20px;
}
.child_footer .footer_social{
    display: flex;
    justify-content: start;
    margin-top: 10px;

}

.child_footer ul li{
    flex-basis: 15%;
}

.child_footer ul li a{
    color: white;
}

.quick_links{
    display: flex;
    flex-direction: column;

}

.quick_links li a:hover{
    text-decoration: underline;
}

.quick_links li{
    margin-bottom: 10px;
}

.footer_contact li{
    margin-right: 5px;
    margin-bottom: 10px;
}



.child_footer form{
    display: flex;
    flex-direction: column;

}

.child_footer form input{
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 25px;
    background: white;
    border: none;
}

.child_footer form input:focus{
    color: black;
}

.child_footer form input:last-child{
    background: #e72323;
    color: white;
    border: 1px solid #e72323;
    transition: .3s;

}

.child_footer form input:last-child:hover{
    background: transparent;
    border: 1px solid #e72323;
}
